<ion-menu class="ion-color" [style.background-color]="primary" style="background:#24262a;" side="end" type="overlay" contentId="main-content">
  <div class="model"  style="background-color:rgba(36,39,46,255); height: 100%;">

    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-color" [style.background-color]="primary" >
        <ion-menu-toggle>
          <span class="close">Fermer</span>
        </ion-menu-toggle>
        <span class="cart-count ion-padding" slot="end">
          <ion-label>Articles dans le panier({{cardListe.length}})</ion-label>
        </span>
      </ion-toolbar>
    </ion-header>
    <div class="content" style="height: 95%; background-color: rgba(36,39,46,255);">
      <ion-list class="ion-no-padding" style="height: 70%; background-color: rgba(36,39,46,255); " >
        <ion-item class="card ion-no-padding" style="padding: 0;" *ngFor="let cart of cardListe">

            <ion-thumbnail slot="start">
              <img src="{{BaseUrl+cart.image}}"/>
            </ion-thumbnail>
            <ion-label class="ion-no-padding">
              <div class="name-food">

                <ion-label>{{cart.name}}</ion-label>
                <ion-icon name="close-circle-outline" style="font-size:14px; margin-right: 10px;" (click)="removeFoodToCard(cart)"></ion-icon>

              </div>
              <div class="cart-control ion-no-padding">
                <ion-buttons>
                  <ion-button style="width: 20px; height:20px; background-color: #0d7410;" (click)="decrementQuantity(cart)">-</ion-button>
                </ion-buttons>
                <ion-label>{{cart.quantity}}</ion-label>
                <ion-buttons>
                  <ion-button style="width: 20px; height:20px;  background-color: #0d7410;" (click)="incrementQuantity(cart)">+</ion-button>
                </ion-buttons>
                <ion-label>{{cart.price}}</ion-label>
              </div>

            </ion-label>
        </ion-item>

      </ion-list>
      <div style="display: flex;
    justify-content: space-between;">
        <ion-label style="color: #fff;">Montant total</ion-label>

        <ion-label style="color: #fff;" >{{totalPrice}}</ion-label>

      </div>
      <div>
        <ion-buttons  class="ion-no-margin" style="width: 100%;">

          <ion-button  (click)="orderFoods()" id="open-custom-dialog" expand="block"  class="command">
            Commander
          </ion-button>

        </ion-buttons>
      </div>
    </div>

  </div>
</ion-menu>


<div  id="main-content">

<ion-header>
  <ion-toolbar class="ion-color" [style.background-color]="primary">


    <div class="header" >

      <ion-label slot="start">
        <span style="color:white; padding-left: 10px;">Eco </span> <span style="color: #4CAF50;">Food</span>
      </ion-label>



      <div class="search-contenair">
      <ion-searchbar mode="ios" class="search ion-no-padding" color="dark"
      placeholder="Rechercher"
        (ionChange)="searchFood($event)"   [(ngModel)]="searchText" >
      </ion-searchbar>


        <span class="cart-count ion-padding" >
          <ion-label>Articles dans le panier({{cardListe.length}})</ion-label>
        </span>
      </div>
    </div>

    <!-- <ion-buttons slot="end" class="ion-no-margin">
      <ion-button class="notification" >
        <ion-menu-toggle>
        <ion-icon style="color:white; width: 20px; height: 20px;"  name="cart"></ion-icon>
        <ion-badge color="primary">{{tailleCard}}</ion-badge>
        </ion-menu-toggle>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>
</div>

<ion-content>

  <ion-grid >
    <ion-row class="left-side" >
      <ion-col style="background-color:rgba(36,39,46,255);" >
        <!-- <div style="align-items:center; display: flex; justify-content:space-between; flex-direction: column;"> -->
          <div  *ngFor="let item of categoryListe" class="nav__item" (click)="setActive(item)" [class]="{ 'nav__listitem-active': item === activeItem }">
            <!-- <ion-icon class="category-icon" [name]="item.iconClass"></ion-icon> -->
            <img src="{{BaseUrl+ item.image}}" alt="">
            <ion-label>{{item.name}}</ion-label>
          </div>
        <!-- </div> -->
      </ion-col>
      <ion-col style="background-color:#1f1f25;">
        <ion-grid  class="food-card-container">

          <ion-col  *ngFor="let food of foodInCategoryListe">
            <div  class="food-item"  [routerLink]="['/food-detail/',food.id]"  routerDirection="forward" >
              <img class="checkbox-content" src="{{BaseUrl+ food.image}}" alt="">
              <div *ngIf="cardFoodId === food.id" class="selected"></div>
              <div class="item-info" >
                <div>
                  <ion-label id="foodName" class="checkbox-title">{{food.name}}</ion-label>
                </div>
                <div>
                  <ion-label id="foodPrice" class="checkbox-price">{{food.price / 100}}</ion-label>
                </div>
                <div >
                </div>
              </div>
              <div  *ngIf="cardFoodId === food.id" class="checkbox-item">
                <!-- <ion-label>{{food.quantity}}</ion-label> -->
              </div>
            </div>
          </ion-col>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>



