<ion-header>
  <ion-toolbar class="ion-color" [style.background-color]="primary">
    <ion-title>langage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col style="background-color:rgba(36,39,46,255);" size="2">

        <div class="exit">
          <ion-buttons slot="end" class="ion-margin">
            <ion-button class="notification" routerLink="/home" routerDirection="forward">
              <ion-icon name="arrow-back-outline"></ion-icon>
              <span>&nbsp;</span>
            </ion-button>
          </ion-buttons>

        </div>
       </ion-col>

      <ion-col style=" margin: 0; padding: 0;"  size="10" >
        <ion-list style="background-color:#1f1f25" >

            <ion-card style="background: rgba(36,39,46,255);">
              <ion-item lines="none" style="background-color:rgba(36,39,46,255);">
                French
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>

            <ion-card>
              <ion-item lines="none">
                Japan
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>

            <ion-card>
              <ion-item lines="none">
                Arabe
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item lines="none">
                English
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item lines="none">
                Arabe
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item lines="none">
                Arabe
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item lines="none">
                Arabe
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item lines="none">
                Arabe
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item lines="none">
                Arabe
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
