ion-grid {

  height: 100%;
  padding: 0;
  ion-row{
    height: 100%;
  }
  ion-col{
    .exit{
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}


.notification{
  margin: 0;
  padding: 0;
  ion-badge{
    background-color: #F5576C;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position:absolute;
    top: -4%;
    right: -20%;
  }
}

span{
  margin:5px;
}
ion-slide{

   width: 100px;
   height: 100px;
   img{
     border-radius: 10px;
   }
}
.command{
  background-color: #0d7410;
   width: 100%; color: white;
   font-family: Arial;
   font-size: 12px;  height: 40px;
   border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ion-checkbox {

  --background: transparent;
  --border-color:#FFF;
  border: 1px
}


.ingredient{
  ion-card-title{
    font-size: 12px;
    color: rgb(247, 231, 231);
  }
  ion-card-content{
    span{
      color: #FFF;
      font-size: 10px;
    }
  }
}

.card{
  --ion-item-background: rgba(36,39,46,255);
  --inner-padding-end: 0px;
  ion-label{
    color: #fff;
  }
  h3{
    margin-bottom: 10px;
  }

  .name-food{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
ion-thumbnail{
  img{
    border-radius: 5px;
  }
}

ion-menu{
  --max-width:75%;
  --background:rgba(36,39,46,255);
  .close{
    font-size: 10px;
    color: #fff;

  }
  .content{
    margin-top: 40px;
    .cart-control{
      display: flex;
      text-align: center;
      align-items: center;
      span{
        background-color: forestgreen;
        height: 20px;
        width: 20px;
        font-size: medium;
      }
      ion-label{
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        text-overflow:clip;
      }
    }
    .head{
      display: flex;

      align-items: center;
      flex-direction: column;
      justify-content:space-between;

    }
  }
  .cart-count{
    background-color: rgb(253, 31, 31);
    border-radius: 20px;
    height: 35px;
    padding: 8px;
    font-size: 12px;
    ion-label{
      color: #fff;
    }
  }


}

.menu-name {
  position: absolute;
  top: 3px;
  left: 10px;
  display: block;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.menu-price {
  position: absolute;
  top: 18px;
  left: 10px;
  display: block;
  font-size: medium;
  font-weight: bold;
  color: white;
}


ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --background:rgba(36,39,46,255);
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
  label{
    color: #fff;

  }
}
.wrapper > ion-label, h5, p{
  color: #fff;
  font-size: 12px;
}

