<ion-content>
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper ion-text-center">
        <ion-label>NOUS DEVONS DIRE</ion-label>
        <h5>Tu as super choix de goût</h5>

        <img src="../../assets/img/image.png" alt="">

        <ion-label>Commande confirmer avec</ion-label>
        <h5>Eco <span style="color: #0d7410;">Food</span> </h5>
        <p>Votre commande sera bientôt prêt</p>

      </div>
    </ng-template>
  </ion-modal>

</ion-content>
