<div style="width: 200px; height: 200px;">
  <div id="example-modal">

    <div class="wrapper ion-text-center">
      <p>NOUS DEVONS DIRE</p>
      <h5>Tu as super choix de goût</h5>

      <img src="../../assets/img/image.png" alt="">

      <p>Commande confirmer avec</p>
      <h5>Eco <span style="color: #0d7410;">Food</span> </h5>
      <p>Votre commande sera bientôt prêt</p>
    </div>
  </div>
  <!-- <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>

    </ng-template>
  </ion-modal> -->

</div>
