<ion-header  >
  <ion-toolbar class="ion-color" [style.background-color]="primary">

    <ion-label slot="start">
      <span style="color:white; padding-left: 10px;">Eco </span> <span style="color: #4CAF50;">Food</span>
    </ion-label>

    <div style="    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;">
        <span  class="dot" style="background-color: #22ab69;">
          <ion-icon class="bag" style="color:white" name="bag-handle-outline"></ion-icon>
        </span>
    </div>

      <ion-buttons slot="end" class="ion-margin">
        <ion-button class="notification" routerLink="/langage">
          <ion-icon style="color:white"  name="language-outline"></ion-icon>

          <span>&nbsp;</span>
        </ion-button>
      </ion-buttons>


    <!-- <ion-row >
      <ion-col size="4">
        <ion-label >
          FOOD ECOD
        </ion-label>
      </ion-col>
      <ion-col size="3" style="text-align: center;">
        <span  class="dot">
          <ion-icon class="bag" name="bag-handle-outline"></ion-icon>
        </span>

      </ion-col>

      <ion-col size="4" >
        <ion-icon name="language-outline"></ion-icon>
      </ion-col>
   </ion-row> -->


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


      <div id="container" >


      <ion-row style="width: 100%;">
          <!-- <ion-col size="6" >
            <ion-card color="transparent" style="border-style: solid; border-width: 1px; border-color:beige; ">
              <ion-card-header class="ion-no-padding" style="display:flex; height: 50px; justify-content: space-around; margin: 5px;">
                <ion-label style="color: white; font-size: 14px;">Table 1</ion-label >
                <ion-label style="color: white; font-size: 14px;">5:30</ion-label>
              </ion-card-header>

              <ion-card-content class="ion-no-padding">
               <ion-label style="color: white; font-size: 11px; margin: 5px;">Commandé 5 Articles</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col> -->


          <ion-col size="6" *ngFor="let table of tablesListes">
            <ion-card color="transparent" style="border-style: solid; border-width: 1px; border-color:beige; ">
              <ion-card-header class="ion-no-padding" style="display:flex; height: 50px; justify-content: space-around; margin: 5px;">
                <ion-label style="color: white; font-size: 14px;">{{table.name}}</ion-label >
                <ion-label style="color: white; font-size: 14px;">5:30</ion-label>
              </ion-card-header>

              <ion-card-content class="ion-no-padding">
               <ion-label style="color: white; font-size: 11px; margin: 5px;">Commandé 5 Articles</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>


      </ion-row>
    </div>
</ion-content>
