<ion-header  >
  <ion-toolbar class="ion-color" [style.background-color]="primary">

    <ion-label slot="start">
      <span style="color:white; padding-left: 10px;">Eco </span> <span style="color: #4CAF50;">Food</span>
    </ion-label>

    <div class="bag-display" (click)=" takeawaynavgiate()">
        <span  class="dot" style="background-color: #22ab69;">
          <ion-icon class="bag" style="color:white" name="bag-handle-outline"></ion-icon>

        </span>
        <ion-label>emporter</ion-label>
    </div>
<!--
      <ion-buttons slot="end" class="ion-margin">
        <ion-button class="notification" routerLink="/langage">
          <ion-icon style="color:white"  name="language-outline"></ion-icon>

          <span>&nbsp;</span>
        </ion-button>
      </ion-buttons> -->



  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



      <!-- <div id="container" >



      <ion-row style="width: 100%;">


          <ion-col size="6" offset="3"  *ngFor="let table of tablesListes">
            <ion-card color="transparent" style="border-style: solid; border-width: 1px; border-color:beige; " (click)="navigate(table.id)" >
              <ion-card-header class="ion-no-padding" style="display:flex; height: 50px; justify-content: space-around; margin: 5px;">
                <ion-label style="color: white; font-size: 14px;">{{table.name}}</ion-label >
                <ion-label style="color: white; font-size: 14px;">5:30</ion-label>
              </ion-card-header>

              <ion-card-content class="ion-no-padding">
               <ion-label style="color: white; font-size: 11px; margin: 5px;">Commandé 5 Articles</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>


      </ion-row>
    </div> -->


    <ion-grid>
      <ion-row >
        <ion-col *ngFor="let table of tablesListes">
          <!-- <ion-card (click)="navigate(table.id)"  [ngStyle]="{'background-color': getBackgroundColor(table.status)}"  [class]="getCardClass(table.status)">
            <ion-card-header>
              <ion-card-title>{{ table.name }}</ion-card-title>
              <span><ion-card-title>33 min</ion-card-title></span>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Status: {{ table.status }}</ion-label>

            </ion-card-content>
          </ion-card> -->

          <ion-card (click)="navigate(table.id)"    [class]="getCardClass(table.status)">
            <ion-card-header>
              <ion-card-title>{{ table.name }}</ion-card-title>
              <span><ion-card-title>33 min</ion-card-title></span>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Status: {{ table.status }}</ion-label>
              <!-- <ion-button >View</ion-button> -->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
